{% extends base_template %}

{% block title %}
    {{ 'admin.configuration.title'|trans({}, 'VinceTAdminConfigurationBundle') }}
{% endblock %}

{% block side_menu %}
    <ul class="nav nav-list">
        {{ knp_menu_render(configuration_menu, {'currentClass' : 'active'}, 'admin_menu_renderer') }}
    </ul>
{% endblock %}

{% block actions %}
    <div class="sonata-actions btn-group">
        <a class="btn sonata-action-element" href="{{ admin_section.generateUrl('list') }}">
            <i class="icon-wrench"></i>
            {{ "Manage Sections"|trans({}, 'VinceTAdminConfigurationBundle') }}
        </a>
        <a class="btn sonata-action-element" href="{{ admin_group.generateUrl('list') }}">
            <i class="icon-wrench"></i>
            {{ "Manage Groups"|trans({}, 'VinceTAdminConfigurationBundle') }}
        </a>
        <a class="btn sonata-action-element" href="{{ admin_value.generateUrl('list') }}">
            <i class="icon-wrench"></i>
            {{ "Manage Values"|trans({}, 'VinceTAdminConfigurationBundle') }}
        </a>
        <a class="btn sonata-action-element" href="{{ admin_type.generateUrl('list') }}">
            <i class="icon-wrench"></i>
            {{ "Manage Types"|trans({}, 'VinceTAdminConfigurationBundle') }}
        </a>
    </div>
{% endblock %}

{% block sonata_admin_content %}
    {% if group %}
        <h2>{{ group.configsection.slabel }} > {{ group.glabel }}</h2>
        <form class="form-horizontal clearfix" id="form_contrat" action="{{ path('vince_t_admin_configuration_save', {'id': group.id}) }}" method="post" {{ form_enctype(form) }}>
            {% for sub in form %}
                {% for input in sub %}
                    {% if input.vars.name != '_token' %}
                        <div class="control-group">
                            {{ form_label(input) }}
                            <div class="controls">
                                {{ form_widget(input) }}
                                {% if sub.vars.value.help %}
                                    <span class="help-block sonata-ba-field-help">{{ sub.vars.value.help|trans({}, 'VinceTAdminConfigurationBundle') }}</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {{ form_widget(form) }}
            <div class="well form-actions">
                <input type="submit" class="btn btn-primary" name="btn_update_and_edit" value="{{ 'Save configuration'|trans({}, 'VinceTAdminConfigurationBundle') }}">
            </div>
        </form>
    {% else %}
        {{ 'There is no configuration group existing. You can begin by create a <a href="%section_path%">config section</a> with a <a href="%group_path%">config group</a> within it.'|trans({'%section_path%':admin_section.generateUrl('create'), '%group_path%':admin_group.generateUrl('create')}, 'VinceTAdminConfigurationBundle')|raw }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/vincetbootstrapform/css/datepicker.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/vincetbootstrapform/css/bootstrap-timepicker.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/vincetbootstrapform/css/daterangepicker.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/vincetbootstrapform/css/colorpicker.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/vincetbootstrapform/css/slider.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('bundles/vincetbootstrapform/js/bootstrap-datepicker.js')}}"></script>
    <script src="{{asset('bundles/vincetbootstrapform/js/bootstrap-timepicker.js')}}"></script>
    <script src="{{asset('bundles/vincetbootstrapform/js/date.js')}}"></script>
    <script src="{{asset('bundles/vincetbootstrapform/js/daterangepicker.js')}}"></script>
    <script src="{{asset('bundles/vincetbootstrapform/js/daterangepicker.js')}}"></script>
    <script src="{{asset('bundles/vincetbootstrapform/js/bootstrap-colorpicker.js')}}"></script>
    <script src="{{asset('bundles/vincetbootstrapform/js/bootstrap-slider.js')}}"></script>
    <script src="{{asset('bundles/vincetbootstrapform/js/bootstrap-forms.js')}}"></script>
{% endblock %}
